body {
    background-color: #0B0C0D;
    color:white;
    font-family: consolas;
}

.title {
    font-size: 3em;
    text-align: center;
    margin: 200 10 100 10;
    line-height: 20px;
    animation: caca 1s ease-in-out infinite
    alternate;  
}

.cringeahh {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #0015FF; 
    line-height: 20px;
    animation: animate 1s ease-in-out infinite
    alternate;      
}

@keyframes animate{
    from{
        text-shadow: 0 0 20px #0015FF;
    }
    to{
        text-shadow: 0 0 30px #0015FF,
                     0 0 10px #0015FF;
    }
}


@keyframes caca{
    from{
        text-shadow: 0 0 10px white;
    }
    to{
        text-shadow: 0 0 10px white,
                     0 0 0px white;
    }
}
